<<<<<<< HEAD
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
=======
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
>>>>>>> bba715a7fd77e4de4e5048b5e0791cddc5ac8759
